* {
    margin: 5px;
    padding: 5px;
}
#BMNg {
    background-color: black;
    color: white;
    text-align: center;
    width: 150px;
    height: 60px;
    border-style: dashed;
    text-transform: uppercase;
}
#GRT {
    color: rgb(255, 72, 0);
    font-style: italic;
}
main {
    background-color: rgb(3, 107, 3);
}
#hah {
    border-radius: 75%;
}

